html {
  height: 100%;
  font-size: 20px;
}
body {
  background-color: #6400ff;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* overflow: hidden; */
  color: #00FFDE;
}
a {
  color: inherit;
}
.iwiwi__logo {
  position: relative;
  width: 30vw;
}
.iwiwi__logo svg {
  display: block;
  width: 100%;
  height: auto;
}
.iwiwi__logo path, .iwiwi__logo polygon {
  fill: #00FFDE;
  /* transition: opacity .5s; */
}
.iwiwi__logo .hidden {
  opacity: 0;
}

.gig {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: center;
}

.info {
  text-align: center;
  margin-top: 2rem;
}
.info a {
  display: inline-block;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  margin-top: 1rem;
}
.info a:hover {
  color: #fff;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
  .iwiwi__logo {
    width: 50vw;
  }
}